doctype html
html
  head
    title= 'Anna\'s Words of Wisdom'
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Raleway:300' type='text/css')
    link(rel='stylesheet', href='/stylesheets/sky.css')
    link(rel='stylesheet', href='/stylesheets/main.css')
  body
    block content
